<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="page-container">
    <div class="content-wrap">
            {# HEADER #}
        <header>
           {% include 'includes/header.html' %}
        </header>

            {# NAVBAR #}
        <nav>
           {% include 'includes/nav.html' %}
        </nav>

        <main>
           {% block content %}{% endblock %}
        </main>
    </div>
            {# FOOTER #}
    <footer>
           {% include 'includes/footer.html' %}
    </footer>

    <button id="mode-toggle">Light Mode</button>

    <script>
        const modeToggle = document.getElementById('mode-toggle');
        const body = document.body;

        modeToggle.addEventListener('click', () => {
            body.classList.toggle('light-mode');
            const isLightMode = body.classList.contains('light-mode');
            modeToggle.textContent = isLightMode ? 'Dark Mode' : 'Light Mode';
        });
    </script>
</body>
</html>

